<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>ZotLight</title>

</head>
<body>
    <div class="container">
        <div style="text-align: center; margin-top: 20px; margin-bottom: 30px;">
            <h1>Environmental Data of Jingtong's Apartment</h1>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-8" >
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-4">
                <canvas id="myChart3" width="400px" height="400px"></canvas>
            </div>
        </div>
        <div style="width: 65%;">
            <canvas id="myChart2"></canvas>
        </div>
    </div>

    <script>
        var xlabels = "{{xlabels}}";
        var lightValue = "{{lightValue}}";
        var soundValue = "{{soundValue}}";
        var lightStatus = "{{lightStatus}}"

        xlabels = xlabels.split(' ');
        lightValue = lightValue.split(' ');
        soundValue = soundValue.split(' ');
        lightStatus = lightStatus.split(' ');

        var lightOn = 0
        var lightOff = 0

        for (let i = 0; i < lightStatus.length; i++){
            if (lightStatus[i] == '1'){
                lightOn += 1;
            }
            else{
                lightOff += 1;
            }
        }

        console.log(xlabels);
        console.log(lightValue);
        console.log(soundValue);
        console.log(lightStatus)

        var myChart = document.getElementById('myChart').getContext('2d');
        var dataChart = new Chart(myChart, {
            type: 'line',
            data: {
                labels: xlabels,
                datasets: [{
                    label: "Light Sensor Values",
                    backgroundColor: '#cfe8e7',
                    borderColor: '#57cfcb',
                    data: lightValue,
                    pointRadius: 0,
                }]
            },
            options:{
                title: {
                    display: true,
                    text: 'Light Sensor Data'
                }
            }
        });

        var myChart2 = document.getElementById('myChart2').getContext('2d');
        var dataChart = new Chart(myChart2, {
            type: 'line',
            data: {
                labels: xlabels,
                datasets: [{
                    label: "Sound Sensor Values",
                    backgroundColor: '#cfe8e7',
                    borderColor: '#57cfcb',
                    data: soundValue,
                    pointRadius: 0,
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Sound Sensor Data'
                }
            }
        });

        var myChart3 = document.getElementById('myChart3').getContext('2d');
        var dataChart = new Chart(myChart3, {
            type: 'pie',
            data: {
                labels: ["Light On", "Light Off"],
                datasets: [{
                    label: "Light Status",
                    backgroundColor: ["#76c6cf", "#6e82b5"],
                    data: [lightOn, lightOff],
                }]
            },
            options:{
                title: {
                    display: true,
                    text: 'Light Status'
                }
            }
        });

    </script>
</body>
</html>